/* copy button styling, based on https://jordemort.dev/blog/adding-copy-buttons-to-code-blocks/ */

.code-buttons {
  position: relative;
  width: 100%;
  height: 0px;
  overflow: visible;
  background-color: rgba(30, 30, 30, 0);
}

.code-buttons button {
  position: absolute;
  top: 0.7rem;
  right: 0.5rem;
  z-index: 100;

  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
  transition: all 0.2s;
  opacity: 0.2;
}
  
.code-buttons button:hover {
  opacity: 1;
}

.code-buttons button svg {
  height: 24px;
  width: 24px;
  margin: auto;
  stroke: white;
  fill: white;
  transition: all 0.2s;
}

.code-buttons button.clicked {
  border: 1px solid #0f0;
  color: #0f0;
}

.code-buttons button.clicked svg {
  stroke: #0f0;
  fill: #0f0;
}

.copied {
  position: absolute;
  top: 40px;
  right: 0.5em;
  z-index: 100;
}

@media only screen and (min-width: 960px) {
  .copied {
    top: 0.65em;
    right: -70px;
  }
}