<link rel="stylesheet" href="/static/math.css">
<link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
<link rel="stylesheet" href="/static/monokai.css">
<script src="/static/math.js">
</script>
<script src="/static/highlightjs/highlight.min.js"></script> 
<script src="/static/parser.js"></script>
<script src="/static/render.js"></script>
{% if config.THEME_CONF.get('use_theme_dark', False) %}
<script src="/static/wavedrom/skins/dark.min.js"></script>
{% endif %}
{% if not config.THEME_CONF.get('use_theme_dark', False) %}
<script src="/static/wavedrom/skins/default.min.js"></script>
{% endif %}
<script src="/static/wavedrom/wavedrom.min.js"></script>
<!--
<script src="/static/wavedrom/skins/lowkey.min.js"></script>
<script src="/static/wavedrom/skins/narrow.min.js"></script>
-->

<script type="text/javascript" src="/static/d3hw/d3.js"></script>
<!-- <script type="text/javascript" src="./js/d3hw/d3.min.js"></script>  -->
<script type="text/javascript" src="/static/d3hw/elk.bundled.js"></script>
<script type="text/javascript" src="/static/d3hw/d3-hwschematic.js"></script>
<link href="/static/d3hw/d3-hwschematic.css" rel="stylesheet">

<script src="/static/hdelk/elk.bundled.js"></script>
<script src="/static/hdelk/svg.min.js"></script>
<script src="/static/hdelk/hdelk.js"></script>

<script>
  window.parser = window.markdownit({
      {# The lower is needed to make JS understand Python bools #}
      {% for name, value in config.EDITOR_CONF.settings.items() %}
        {{ name }}: {{ value | lower }},
      {% endfor %}
      highlight: function (str, lang) {
        if (lang && hljs.getLanguage(lang)) {
          try {
            return '<pre class="hljs"><code>' +
                    hljs.highlight(lang, str, true).value +
                    '</code></pre>';
          } catch (__) {}
        {% if dataobj is defined %}
        } else if (lang && Renderer.supported(lang)) {
          try {
            {% if config.THEME_CONF.get('use_theme_dark', False) %}
            const dark = true;
            {% else %}
            const dark = false;
            {% endif %}
            return Renderer.render_div(lang, "{{dataobj['id']}}", str, "lazyrender", dark)
          } catch (__) {}
        {% endif %}
        } else {
            return '<pre class="hljs"><code>' +
                    str +
                    '</code></pre>';
        }
      }
  })
  .use(texmath.use(katex), {
    engine: katex,
    delimiters:'dollars',
    katexOptions: { macros: {"\\RR": "\\mathbb{R}"} }
  })
  {% for plugin_name, plugin_params in config.EDITOR_CONF.plugins.items() %}
    .use(window.{{plugin_name}}{% if plugin_params | length %}, {{plugin_params|tojson}}{% endif %})
  {% endfor %}
  window.parser.customRender = function(content) {
    let tag_regex = new RegExp("(^|\\n| )#([-_a-zA-ZÀ-ÖØ-öø-ÿ0-9]+)#", "g");
    let note_link_regex = /\[\[(.+)\|([\w-]+)\]\]/g;
    content = content.replace(tag_regex, "$1[#$2](/tags/$2)");
    content = content.replace(note_link_regex, "[[[$1]]](/dataobj/$2)");
    return window.parser.render(content);
  }
</script>
